@charset "utf-8";

body{font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
h1              {padding-bottom: 16px; font-size: 30px; }
h2              {padding-bottom: 16px; font-size: 24px; }
h3              {padding-bottom: 16px; font-size: 20px; }
div#content p   {padding-bottom: 16px; line-height: 20px; }
div#content ul  {padding-bottom: 16px; line-height: 20px; }

div#header  {height: 45px; line-height: 45px; color: #fff; }
div#header #logo h1 {font-size: 24px; font-weight: bold; font-variant: small-caps; margin-right: 40px; }
div#content {width: 960px; margin: 20px auto; }
div#footer  {width: 960px; margin: 0    auto; font-size: 10px; }

div ul#nav  {width: 960px; margin: 0    auto; }
div ul#nav li + li a        {display: inline-block; height: 45px; padding: 0 10px; }
div ul#nav a                {text-decoration: none; }
div ul#nav a:link           {color: #fff; }
div ul#nav a:visited        {color: #fff; }
div ul#nav a:hover          {color: #fff; }
div ul#nav a:active         {color: #fff; }
div ul#nav a:focus          {color: #fff; }
div ul#nav li.hoverA a:hover{background: #fff; color: #2c3747; } 

.cb {clear: both; }
.cl {clear: left; }
.cr {clear: right; }
.fl {float: left; }
.fr {float: right; }

.pct50 {width: 50%; }

.pb20 {padding-bottom: 20px; }
.pl10 {padding-left: 10px; }
.pl20 {padding-left: 20px; }
.pl30 {padding-left: 30px; }
.pl60 {padding-left: 60px; }
.pr10 {padding-right: 10px; }

.bgOne {background: #2c3747; }
.error {color: #F00; font-weight: bold; }

a {font-size: 1.2em; font-variant: small-caps; }
a:hover {color: #f00; }
